<h1>Home</h1>
<a href="/members">Members</a><br />
<% if !session[:id] %>
	<a href="/members/new">SignUp</a><br />
	<a href="/members/sign">SignIn</a>
<% else %>
	<h2>Welcome <%= session[:login] %> </h2>
	<a href="/members/logout">Logout</a>
<% end %>