<!DOCTYPE html>
<html>
<head>
  <title>Gpw</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !flash[:notice].nil? %>
<%= flash[:notice] %>
<% end %>
<% if !flash[:s].nil? %>
<%= flash[:s] %>
<% end %>
<%= yield %>

</body>
</html>
